<section class="section-hero section">
  <div class="hero-content">
    <div class="column-left">
      <h2>Hotovo</h2>
      <p>Váš profil a všechna data jsme smazali.</p>
    </div>
  </div>
</section>
