#registration {
  background: #FFFFFF;
  max-width: 840px;

  .modal-content-custom {
    .modal-card-header {
      padding-top: 40px;
      text-align: center;

      .modal-title {
        font-family: Montserrat, serif;
        font-style: normal;
        font-weight: 600;
        font-size: 42px;

        @include lg {
          font-size: 28px;
        }
      }
    }

    .modal-card-body {
      display: flex;
      flex-direction: row;
      padding-bottom: 48px;

      @include lg {
        flex-direction: column;
      }

      .modal-left, .modal-right {
        background: #FFFFFF;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 24px;
        width: 100%;

        .subtitle {
          color: #50350D;
          font-size: 20px;
          margin: 4px 0 8px;
          text-align: center;
        }
      }

      .modal-left {
        .stores {
          display: flex;
          flex-direction: row;
          justify-content: center;
          margin-top: 40px;
          width: 100%;

          .store {
            &.google-play {
              margin-left: 16px;
            }

            img {
              height: 36px;
            }
          }
        }
      }

      .divider-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 12px 0;
        flex-direction: column;

        .divider {
          height: 100px;
          width: 2px;

          &.left {
            background: linear-gradient(180deg, rgba(207, 189, 162, 0) 0%, #CFBDA2 100%);
          }

          &.right {
            background: linear-gradient(0deg, rgba(207, 189, 162, 0) 0%, #CFBDA2 100%);
          }
        }

        @include lg {
          flex-direction: row;
          margin: 32px 0 0;

          .divider {
            height: 2px;
            width: 100px;

            &.left {
              background: linear-gradient(90deg, rgba(207, 189, 162, 0) 0%, #CFBDA2 100%);
            }

            &.right {
              background: linear-gradient(270deg, rgba(207, 189, 162, 0) 0%, #CFBDA2 100%);
            }
          }
        }

        .text {
          font-size: 20px;
          margin: 0 4px;
        }
      }

      .modal-right {
        .laptop {
          width: 184px;
        }

        .main-button {
          margin-bottom: 0;
        }
      }
    }
  }
}
