<div id="registration" class="modal">
  <div class="modal-content-custom">
    <%= image_tag asset_path('close.svg'), class: 'close modal-close' %>
    <div class="modal-card-header">
      <h2 class="modal-title">Registrujte se</h2>
    </div>
    <section class="modal-card-body">
      <div class="modal-left">
        <%= image_tag asset_path('application-registration.svg'), class: 'application-registration' %>
        <p class="application-text">Pokračujte v mobilní aplikaci</p>
        <div class="stores">
          <a href="https://www.apple.com/ios/app-store/" class="store apple-store">
            <%= image_tag asset_path('apple-store.svg') %>
          </a>
          <a href="https://play.google.com/" class="store google-play">
            <%= image_tag asset_path('google-play.svg') %>
          </a>
        </div>
      </div>
    </section>
  </div>
</div>
