<div id="thank-you" class="modal">
  <div class="modal-content-custom">

    <%= image_tag asset_path('close.svg'), class: 'close modal-close'  %>

    <header class="modal-card-head">
      <button class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <p>Děkujeme za registraci</p>
      <p>Nyní na vás mají kontakt dobročinné organizace z vašeho blízkého okolí. Mějte trpělivost a některá z nich se vám ozve.</p>
      <p>Sdílejte iniciativu dál, aby se nás tu sešlo co nejvíce!</p>
    </section>
  </div>
</div>
