<div id="thank-you" class="modal">
  <div class="modal-content-custom">

    <%= image_tag asset_path('close.svg'), class: 'close modal-close'  %>

    <section class="modal-card-body">
      <%= image_tag asset_path('thank-you.svg') %>
      <h3>Děkujeme za registraci</h3>
      <p>Nyní na vás mají kontakt dobročinné organizace z&nbsp;vašeho blízkého okolí. Mějte trpělivost a některá z&nbsp;nich se vám ozve.</p>
    </section>
  </div>
</div>
