var registrationModal = $('#registration');
var registrationErrors = $('#registration-errors-list');

// clear old errors
registrationErrors.empty();

// add new volunteer errors
<% volunteer.errors.delete :addresses %>
<% volunteer.errors.full_messages.each do |message| %>
  registrationErrors.append('<li><%= message %></li>')
<% end %>

<% if address.only_address_errors? %>
  registrationErrors.append('<li><%= I18n.t('activerecord.errors.models.address.base.inaccurate_address') %></li>')
<% end %>