<header>
  <div class="container has-text-centered">
    <h1 class="title is-size-1 has-text-weight-medium">
      Koronavirus: Spolu to dáme
    </h1>
    <p class="subtitle">
      Dobrovolníky dostaneme tam, kde jsou třeba.
    </p>
    <button id="chci-pomahat" class="button is-link">
      Chci pomáhat
    </button>
  </div>
</header>