<header>
  <div class="container has-text-centered">
    <h1 class="title is-size-1 has-text-weight-medium">
      Koronavirus: Spolu to dáme
    </h1>
    <p class="subtitle">
      Dobrovolníky dostaneme tam, kde jsou třeba.
    </p>
    <button id="chci-pomahat" class="button is-link">
      Chci pomáhat
    </button>
  </div>
</header>

<footer class="footer">
  <div class="columns">
    <div class="column">
      <h3 class="title is-3">Co je vlastně Pomůžeme.si?<h3>
      <p>
        Jde o platformu, která je určena ke snažší organizaci dobrovolníků v rámci epidemie infekčního onemocnění COVID-19. Spojuje lidi v nouzi, které nenadále postihla karanténa či nedostupnost služeb, a dobrovolníky, kteří chtějí nezištně pomáhat.
      </p>
    </div>
    <div class="is-divider-vertical" data-content="OR"></div>
    <div class="column">
      <div class="level">
        <a class="level-item" href="#">Applifting &copy; 2020</a>
      </div>
    </div>
  </div>
</footer>