<header>
  <div class="container has-text-centered">
    <h1 class="title is-size-1 has-text-weight-medium">
      Koronavirus: Spolu to dáme
    </h1>
    <p class="subtitle">
      Dobrovolníky dostaneme tam, kde jsou třeba.
    </p>
    <button id="chci-pomahat" class="button is-link">
      Chci pomáhat
    </button>
  </div>
</header>

<body>
  <section class="section has-margin-3">
    <div class="container">
      <h4 class="title body is-4">Proč Pomůžeme.si?</h4>
      <p class="subtitle is-6">
        Spojujeme ty, kteří kvůli koronaviru potřebují pomoci, s těmi, kdo ji nabízí. 
        Spolupracujeme s nejrůznějšími organizacemi, které sdružují dobrovolníky. 
        A zároveň je sami hledáme. Pomoct můžete i vy.
      </p>
    </div>
  </section>

  <section class="section has-margin-3">
    <div class="container has-text-centered">
      <h4 class="title body is-4">Jak to celé funguje?</h4>
      <p class="subtitle is-6">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
      </p>
    </div>
  </section>

  <section class="section has-margin-3">
    <div class="container has-text-centered">
      <p class="subtitle body is-6">
        Jste dobročinná organizace a chcete se připojit k naší iniciativě? Kontaktujte nás na e-mailu 
        <a href = "mailto: info@pomahame.si">info@pomahame.si</a>
      </p>
    </div>
  </section>

  <section class="section">
    <div class="container margin-left-50 has-text-centered">
      <h4 class="title body is-4">Přidejte se a pomáhejte!</h4>
      <p class="subtitle is-6">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
      </p>
      <button id="chci-pomahat-2" class="button is-link">
      Chci pomáhat
      </button>
    </div>
  <section>
</body>