<li class="menu-item">
  <a href="javascript:void(0);" class="link slide-link"><%= I18n.t 'landingpage.navbar.aboutus' %></a>
</li>
<li class="menu-item">
  <a href="javascript:void(0);" class="link slide-link"><%= I18n.t 'landingpage.navbar.howdoesitwork' %></a>
</li>
<li class="menu-item">
  <a href="javascript:void(0);" class="link slide-link"><%= I18n.t 'landingpage.navbar.partners' %></a>
</li>