<section class="section-hero section">
  <div class="hero-content" style="flex-direction: column;">
    <h2>Žádosti o pomoc</h2>
    <div class="table border-bottom">
      <header>

      </header>
      <% @requests.each do |request| %>
        <%= render partial: 'request_with_button', locals: { request: request } %>
      <% end %>
    </div>
  </div>
</section>
