<%= render 'volunteer/partials/main_header' %>

<section class="section-guide section">
  <h2 style="margin-top: 118px;">Poptávku jsme přijali</h2>
  <p>Začneme na ní pracovat co nejdříve.</p>
  <p>Pokud jsme s vámi o poptávce ještě nemluvili, tak se vám ozveme a poptávku ověříme.</p>
</section>
