<section class="section-hero section">
  <div class="hero-content" style="flex-direction: column;">
    <div class="column-left">
      <h2>Moc děkujeme, jste skvělí!</h2>
      <%= render partial: 'common/flash' %>

      <p>
        Vaše kontaktní údaje předáme koordinátorovi, nebo koncovému příjemci, který by se vám měl ozvat.
      </p>
      <ul class="styled">
        <li>
          První kontakt s organizací očekávejte další pracovní den, u jednotlivců do 24 hodin.
        </li>
        <li>
          Pokud se vám nikdo neozve, odpovězte, prosíme, na potvrzující SMS kterou jsme vám poslali.
        </li>
      </ul>
      <div class="button-group" style="margin-top: 24px">
        <%= link_to 'Zpět na seznam', requests_path, class: 'main-button secondary' %>
        <%= link_to 'Do profilu', volunteer_profile_path, class: 'main-button tertiary' %>
      </div>
    </div>
  </div>
</section>
