.green {
  background-color: green !important;
}

.red {
  background-color: red !important;
}

.pale-green {
  background-color: paleGreen;
}

.yes {
  background-color: green;
}

p {
  &.red {
    color: red;
  }
  &.small {
    font-size: 12px;
  }
}

a:hover {
  color: red;
}
