.green {
  background-color: green !important;
}

.red {
  background-color: red !important;
}

.pale-green {
  background-color: paleGreen;
}

.yes {
  background-color: green;
}

p {
  &.red {
    color: red;
  }
  &.small {
    font-size: 12px;
  }
}

a:hover {
  color: red;
}

.batch_actions_selector {
  padding: 10px 10px 0 0;
  float: left;
}

.table_tools {
  display: flex;
  flex-direction: column-reverse;
}