.faq-wrapper {
  display: flex;
  font-family: $title-font;
  margin-top: 32px;
  flex-direction: column;

  @include md {
    flex-wrap: wrap;
    text-align: center;
    justify-content: flex-start;
  }

  .faq-item {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 28px;

    break {
      display: block;
      height: 8px;
    }

    @include md {
      flex-direction: column;
      align-items: flex-start;
      text-align: left;
    }

    .question {
      font-size: 22px;
      line-height: 120%;
      margin-right: 24px;
      width: 218px;

      @include lg {
        font-size: 18px;
        line-height: 120%;
        margin-right: 24px;
      }

      @include md {
        margin-right: 0;
        margin-bottom: 12px;
        width: 100%;
      }
    }

    .answer {
      width: 60%;
      padding-left: 16px;
      border-left: 1px solid $secondary-button-color;
      font-weight: 500;
      font-size: 12px;
      line-height: 160%;

      @include md {
        border-left: none;
        padding-left: 0;
        font-size: 12px;
        width: 100%;
      }
    }
  }
}