@import '../variables';

.mobile-menu-icon-container {
  display: none;
}

@include custom(335) {
  .mobile-menu-icon-container {
    position: relative;
    left: -16px;
  }
}

.mobile-menu-container {
  display: none;
}

.hidden {
  display: none;
}

@include custom(1199) {
  .mobile-menu-icon-container {
    display: flex;
    align-items: center;

    .menu-button {
      height: 32px;

      i {
        color: #CFBDA2;
        font-size: 32px;
      }
    }
  }

  .mobile-menu-container {
    display: none;
    position: fixed;
    background: #FBF2D9;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20;

    &.open {
      display: flex;
      height: 100vh;
      overflow: hidden;

      .mobile-menu {
        display: flex;
        flex-direction: column;
        padding: 0 16px 32px;
        flex: 1;
        width: calc(100% - 32px);

        .menu-top-row {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          .main-logo {
            position: relative;
            left: -40px;
          }

          .close-button {
            @include custom(340) {
              position: relative;
              left: -16px;
            }

            i {
              color: #CFBDA2;
              font-size: 32px;
            }
          }
        }

        .navigation {
          display: flex;
          background: none;
          box-shadow: none;
          -webkit-box-shadow: none;
          height: auto;
          flex-direction: column;
          justify-content: space-between;
          flex: 1;

          .mobile-menu-list {
            display: flex;
            flex-direction: column;

            .menu-item {
              padding-left: 16px;

              .link {
                color: #50350D;
                display: inline;
                font-family: Montserrat, serif;
                font-style: normal;
                font-weight: bold;
                font-size: 20px;
                padding: 0;
              }

              .link:hover {
                background: none;
              }
            }
          }
        }
      }
    }
  }
}

.main-header-container {
  background: #FFFBF2;
  box-shadow: 0px 3px 20px rgba(66, 58, 75, 0.08);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  transition: top 0.3s;

  &.hidden {
    top: -66px;
  }

  .main-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .main-logo {
      position: relative;
      left: -40px;
    }

    @media only screen and (min-width: 1200px) {
      .navigation {
        display: flex;
        background: none;
        box-shadow: none;
        -webkit-box-shadow: none;
        height: 66px;
        line-height: 14px;
        align-items: center;

        .desktop-menu {
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          width: 100%;

          .menu-item {
            transition: none;
            float: none;
            height: auto;
            padding: 0 18px;

            .link {
              font-family: Montserrat, serif;
              font-style: normal;
              font-weight: bold;
              font-size: 14px;
              letter-spacing: 0.05em;
              text-transform: uppercase;
              padding: 0;
              color: #50350D;
            }

            .link:hover {
              background: none;
            }

            .link.wanna-join {
              color: #64CCE3;
            }
          }
        }
      }
    }

    @include custom(1199) {
      .navigation {
        display: none;
      }
    }
  }
}