@import "../variables";

.section-partner-contact {
  text-align: center;

  h3 {
    margin: 96px 0 24px;
  }

  p {
    font-size: 20px;
    line-height: 160%;
    margin: 0 0 32px;

    @include lg {
      font-size: 16px;
      line-height: 160%;
    }
  }

  a {
    margin-bottom: 30px;
  }

  .about_app {
    max-width: 500px;
    margin: auto;
    text-align: left;
    padding-bottom: 24px;

    p {
      margin: 0;
    }

    ul {
      padding-left: 24px;
      li {
        line-height: 24px;
        list-style-type: square;
        color: gray;
      }
    }
    .asterix {
      font-size: 10px;
    }
  }
}