@import '../variables';

section.section-hero {
  padding-top: 138px;

  @include lg {
    padding-top: 96px;
  }

  .hero-content {
    display: flex;
    padding-bottom: 88px;

    @include lg {
      flex-direction: column;
    }

    .column-left {
      width: 560px;
      flex-shrink: 0;

      @include lg {
        width: 100%;
      }
    }

    .column-right {
      width: 495px;

      @include lg {
        width: 100%;
      }
    }

    h1 {
      .lighter {
        color: $heading-color;
        position: relative;
      }

      img {
        position: absolute;
        right: -85px;
        top: -56px;

        @include lg {
          transform: scale(.7);
          transform-origin: left;
        }
      }
    }

    p {
      font-weight: 500;
      font-size: 20px;
      line-height: 160%;
      font-family: $title-font;
      margin: 0 0 24px;

      @include lg {
        font-weight: 500;
        font-size: 18px;
        line-height: 160%;
      }
    }

    .hero-image {
      width: 475px;
      margin-left: 20px;

      @include lg {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin: 30px 0 0;
      }
    }
  }
}