<header class="main-header section">
  <%= image_tag asset_path('pomuzemesi.svg'), class: 'main-logo'  %>
  <nav class="navigation">
    <ul class="desktop-menu">
      <li class="menu-item">
        <a href="#intro" class="link">O NÁS</a>
      </li>
      <li class="menu-item">
        <a href="#guide" class="link">JAK TO FUNGUJE</a>
      </li>
      <li class="menu-item">
        <a href="#" class="link">APLIKACE</a>
      </li>
      <li class="menu-item">
        <a href="#counts" class="link">AKTUÁLNĚ</a>
      </li>
      <li class="menu-item">
        <a href="#organizace" class="link">PARTNEŘI</a>
      </li>
      <li class="menu-item">
        <a href="#" class="link wanna-join">CHCI POMÁHAT</a>
      </li>
    </ul>
  </nav>
</header>
