<%= image_tag asset_path('bg-wave.svg'), class: 'wave'  %>

<footer class="main-footer">
  <div class="footer-content section">
    <div class="column-left">
      <h4>Co je vlastně Pomůžeme.si?</h4>
      <p>
        Jde o platformu, která je určena ke snazší organizaci dobrovolníků v rámci epidemie infekčního onemocnění COVID-19. Spojuje ty, kteří chtějí nezištně pomáhat, s lidmi, kteří si z nejrůznějších důvodů nemohou obstarat základní potřeby, jako je nákup nebo třeba venčení psa.
      </p>
    </div>
    <div class="divider-vertical"></div>
    <div class="column-right">
      <%= image_tag asset_path('applifting-rocket.svg'), class: "rocket" %>
      <h4>Kdo za projektem stojí?</h4>
      <p>
        Applifting - softwarové studio z pražského Karlína, které už 6 let dělá věci jinak. Je nás přes 90 a fungujeme bez manažerů. Nejraději vyrábíme aplikace, které lidem zjednodušují život. Vyvinuli jsme třeba systém pro rychlejší mezinárodní výměnu orgánů k transplantaci. Nebo zabezpečení bankovní aplikace, kterou používají miliony uživatelů napříč Evropou.
      </p>
      <div class="contact-item">
        <%= image_tag asset_path('web-icon.svg') %>
        <a href="https://www.applifting.cz">www.applifting.cz</a>
      </div>
      <div class="contact-item">
        <%= image_tag asset_path('email-icon.svg') %>
        <a href="mailto:info@pomuzeme.si ">info@pomuzeme.si </a>
      </div>
    </div>
  </div>
  <div class="copy">
    <a href="#">Applifting &copy; 2020</a>
  </div>
</footer>
