<li class="menu-item">
  <a href="javascript:void(0);" id="o-nas" class="link slide-link">O NÁS</a>
</li>
<li class="menu-item">
  <a href="javascript:void(0);" id="jak-to-funguje" class="link slide-link">JAK TO FUNGUJE</a>
</li>
<li class="menu-item">
  <a href="javascript:void(0);" id="aktualne" class="link slide-link">AKTUÁLNĚ</a>
</li>
<li class="menu-item">
  <a href="javascript:void(0);" id="partneri-projektu" class="link slide-link">PARTNEŘI</a>
</li>