<li class="menu-item">
  <a href="javascript:void(0);" class="link slide-link">O NÁS</a>
</li>
<li class="menu-item">
  <a href="javascript:void(0);" class="link slide-link">JAK TO FUNGUJE</a>
</li>
<li class="menu-item">
  <a href="javascript:void(0);" class="link slide-link">AKTUÁLNĚ</a>
</li>
<li class="menu-item">
  <a href="javascript:void(0);" class="link slide-link">PARTNEŘI</a>
</li>