<section id="pro-organizace" class="section-partner-contact section">
  <h3>Jste organizace, která pracuje s dobrovolníky?</h3>
  <div class="about_app">
    <p>Máme pro vás kompletní řešení, které vám pomůže:</p>
    <ul>
      <li>koordinovat rozdělení poptávek mezi dobrovolníky na základě lokality</li>
      <li>pracovat s dobrovolníky, které si do aplikace nahrajete *</li>
      <li>získat přehled o aktuální dostupnosti dobrovolníků</li>
      <li>získat nové dobrovolníky, pokud jich nemáte dostatek, a organizovat jejich nábor</li>
    </ul>
    <p class="asterix">* k dobrovolníkům, které si do aplikace nahrajete, budete mít výhradní přístup jen vy</p>
  </div>
  <p>
    Kontaktní email: <a> info@pomuzeme.si </a>
  </p>
  <div>
    <a href="<%= ENV['REGISTER_ORG_URL']%>" target="_blank" rel="noopener noreferrer" class="main-button secondary" style="max-width: 340px">
      Registrovat organizaci
    </a>
    </br>
    <a href="/admin" target="_blank" rel="noopener noreferrer">
    Přihlášení organizace
    </a>
  </div>
</section>
