<script type="text/javascript">
  $(document).ready(function() {
    const registerScroll = link => {
      const id = link.dataset.target;
      link.addEventListener('click', () =>
          document.getElementById(id).scrollIntoView({behavior: 'smooth'})
      );
    };

    const scrollables = document.querySelectorAll('.js-scrollable');

    for (let scrollable of scrollables) {
      registerScroll(scrollable);
    }
  });
</script>

<section id="home" class="section-hero section">
  <div class="hero-content">
    <div class="column-left">
      <h1>
        <span class="lighter">
          Koronavirus?!
          <img id="virus" src="<%= asset_path "virus.svg" %>" />
        </span>
        <div>Spolu to dáme</div>
      </h1>
      <p>
        Pomáháme dostat dobrovolníky tam, kde jsou třeba.
      </p>
      <div class="button-group">
        <button id="cta-chci-pomahat" class="modal-trigger main-button" data-target="registration" aria-haspopup="true">
          Chci pomáhat
        </button>
        <%= link_to 'Potřebuji dobrovolníky', need_volunteers_path, class: 'main-button tertiary', id: 'cta-potrebuji-dobrovolniky' %>
      </div>
    </div>
    <div class="column-right">
      <div class="current-campaign">
        <h3 style="text-align: center">Sociální služby</h3>
        <%= image_tag asset_path('help-seniors.svg'), alt: 'Staňte se dobrovolníkem v pandemii Covid19 a pomáhejte v domovech seniorů, které prožívají personální krizi.',
                                                      class: 'hero-image'  %>
        <p>
          Domovy seniorů prochází personání krizí, jak podrobně popisuje reportáž
          <a href="https://www.seznamzpravy.cz/clanek/to-nejdulezitejsi-se-nepovedlo-nakaza-se-siri-domovy-pro-seniory-127075" target="_blank">Seznam zpráv</a>.
        </p>
        <p>
          V zařízeních často chybí desítky zaměstnanců a právě teď potřebují vaší pomoc.
          Vaše ruce jsou potřeba v kuchyních, jídelnách a základní přímé péči o seniory.
        </p>
        <div style="text-align: center">
          <a href="/socialni-sluzby" class="main-button">o pomoci seniorům</a>
        </div>
      </div>
    </div>
  </div>
</section>
