<section class="section-contact section">
  <h3>Jste organizace, která shání dobrovolníky?</h3>
  <p>
    Kontaktujte nás na e-mailu <a> info@pomuzeme.si </a> a my se vám co nejdříve ozveme!
  </p>
  <a href="<%= ENV['REGISTER_ORG_URL']%>" target="_blank" rel="noopener noreferrer" class="main-button secondary">
    Registrovat organizaci
  </a>
</section>
