<section class="section-contact section">
  <h3>Jsme organizace, která shání dobrovolníky!</h3>
  <p>
    Kontaktujte nás prostřednictvím našeho formuláře a my se vám co nejdříve ozveme!
  </p>
  <a href="mailto: pomuzemesi@applifting.cz" class="main-button secondary">
    Kontaktovat
  </a>
</section>
