<div class="wave-container">
  <%= image_tag asset_path('bg-wave.svg'), class: 'wave' %>
</div>

<section class="section-news">
  <div class="section">
    <div class="news-content">
      <div class="column-left">
        <h2>Napsali o nás </h2>
        <%= render partial: "publications", collection: @publications %>
      </div>

      <div class="column-right">
        <h2>Aktuality </h2>
        <%= render partial: "news", collection: @news %>
      </div>
    </div>
  </div>

</section>

<div class="wave-container">
  <%= image_tag asset_path('bg-wave.svg'), class: 'wave bottom' %>
</div>