<section id="news" class="section-news">
  <div class="section">
    <div class="news-content">
      <div class="column-left">
        <h2>Napsali o nás </h2>
        <%= render partial: "publications", collection: @publications %>
      </div>

      <div class="column-right">
        <h2>Aktuality </h2>
        <%= render partial: "news", collection: @news %>
      </div>
    </div>
  </div>

</section>