<script type="text/javascript">
  $(document).ready(function() {
    const registerScroll = link => {
      const id = link.dataset.target;
      link.addEventListener('click', () =>
          document.getElementById(id).scrollIntoView({behavior: 'smooth'})
      );
    };

    const scrollables = document.querySelectorAll('.js-scrollable');

    for (let scrollable of scrollables) {
      registerScroll(scrollable);
    }
  });
</script>

<section id="home" class="section-hero section">
  <div class="hero-content">
    <div class="column-left">
      <h1>
        <span class="lighter">
          Koronavirus?!
          <img id="virus" src="<%= asset_path "virus.svg" %>" />
        </span>
        <div>Spolu to dáme</div>
      </h1>
      <p>
        Pomáháme dostat dobrovolníky tam, kde jsou třeba.
      </p>
      <div class="button-group">
        <button id="cta-chci-pomahat" class="modal-trigger main-button" data-target="registration" aria-haspopup="true">
          Chci pomáhat
        </button>
        <%= link_to 'Potřebuji dobrovolníky', need_volunteers_path, target: "_blank", class: 'main-button primary', id: 'cta-potrebuji-dobrovolniky' %>
        <a href="javascript:void(0);" class="js-scrollable main-button tertiary" data-target="pro-organizace" id='nav-pro-organizace'>Organizuji dobrovolníky</a>
      </div>
    </div>
    <div class="column-right">
      <%= image_tag asset_path('hero.svg'), class: 'hero-image'  %>
    </div>
  </div>
</section>
