<div class="wave-container">
  <%= image_tag asset_path('bg-wave.svg'), class: 'wave' %>
</div>

<section id="involvement" class="section-involvement">
  <div class="section">
    <h2>Kdo je do projektu zapojen</h2>
    <div class="row">
      <div class="col s12">
        <ul class="tabs">
          <li class="tab col s4">
            <a class="link" href="#partners">Partneři</a>
          </li>
          <li class="tab col s4">
            <a class="active link" href="#organizations">Dobročinné organizace</a>
          </li>
          <li class="tab col s4">
            <a class="link" href="#development-team">Vývojový tým</a>
          </li>
        </ul>
      </div>
      <div id="partners" class="col s12">Partneři</div>
      <div id="organizations" class="col s12">Dobročinné organizace</div>
      <div id="development-team" class="col s12">Vývojový tým</div>
    </div>
  </div>
</section>

<div class="wave-container">
  <%= image_tag asset_path('bg-wave.svg'), class: 'wave bottom' %>
</div>