<section class="section-hero section">
  <div class="hero-content">
    <div class="column-left">
      <h1>
        <span class="lighter">
          Koronavirus?!
          <img id="virus" src="<%= asset_path "virus.svg" %>" />
        </span>
        <div>Spolu to dáme</div>
      </h1>
      <p>
        Pomáháme dostat dobrovolníky tam, kde jsou třeba.
      </p>
      <button id="chci-pomahat" class="modal-trigger main-button" data-target="registration" aria-haspopup="true">
        Chci pomáhat
      </button>
    </div>
    <div class="column-right">
      <%= image_tag asset_path('hero.svg'), class: 'hero-image'  %>
    </div>
  </div>
</section>
