<%= image_tag asset_path('bg-wave.svg'), class: 'wave' %>

<section class="section-application">
  <div class="section">
    <div class="application-content">
      <div class="column-left">
        <h2>Máme mobilní aplikaci</h2>
        <ul class="application-list">
          <li class="list-item">
            <div class="list-item-content">
              Dobrovolníci mají přehledný seznam přijatých úkolů s detaily kontakty nebo adresa
            </div>
          </li>
          <li class="list-item">
            <div class="list-item-content">
              Organizace mají lepší přehled, kdo se může poptávkám věnovat
            </div>
          </li>
          <li class="list-item">
            <div class="list-item-content">
              Integrace s Google Maps
            </div>
          </li>
        </ul>
      </div>
      <div class="column-right">
      </div>
    </div>
  </div>
</section>

<%= image_tag asset_path('bg-wave.svg'), class: 'wave bottom' %>