<section class="section-contact section">
  <h3>Jste organizace, která shání dobrovolníky?</h3>
  <p>
    Kontaktujte nás na e-mailu <a href="mailto: info@pomuzeme.si?subject=Chceme se stát součástí iniciativy Pomůžeme.si" target="_blank" rel="noopener noreferrer"> info@pomuzeme.si </a> a my se vám co nejdříve ozveme!
  </p>
  <a href="mailto: info@pomuzeme.si?subject=Chceme se stát součástí iniciativy Pomůžeme.si" target="_blank" rel="noopener noreferrer" class="main-button secondary">
    Kontaktovat
  </a>
</section>
