$S: 576px;
$M: 768px;
$L: 940px;
$XL: 1124px;

@mixin sm {
  @media (max-width: #{$S}) {
    @content;
  }
}

@mixin md {
  @media (max-width: #{$M}) {
    @content;
  }
}

@mixin lg {
  @media (max-width: #{$L}) {
    @content;
  }
}

@mixin xl {
  @media (max-width: #{$XL}) {
    @content;
  }
}

@mixin custom($screen) {
  @media (max-width: $screen+"px") {
    @content;
  }
}
