$section-width: 1060px;
$section-padding: 32px;

$background-light: #FFFBF2;
$background-dark: #FBF2D9;
$heading-color: #D48D22;
$text-color: #50350D;
$primary-button-color: #64CCE3;
$secondary-button-color: #CFBDA2;

$title-font: Montserrat;
$main-font: Source Sans Pro;
$main-font-weight: 400;

$shadow_1: 0px 4px 20px rgba(0, 0, 0, 0.1);
