body {
  font-family: 'Gilroy-Light', sans-serif;
  color:  #141e32;

  .title.body {
    padding-top: 50px;
    padding-bottom: 10px;
  }

  .subtitle.body {
    line-height: 120%;
    padding-top: 10px;
  }

  #chci-pomahat-2 {
    padding-left: 25px;
    padding-right: 25px;
    font-family: 'Roboto', sans-serif;
  }
}