header {
  font-family: 'Gilroy-Light', sans-serif;
  color: #141e32;

  .title {
    padding-top: 100px;
  }

  .subtitle {
    padding-top: 32px;
  }

  #chci-pomahat {
    margin-top: 105px;
    padding-left: 50px;
    padding-right: 50px;
    font-family: 'Roboto', sans-serif;
  }
}