@import 'materialize-css/dist/css/materialize';
@import 'variables';
@import 'responsivity';
@import 'modals/*';
@import 'partials/*';

body {
  background-color: $background-light;
  color: $text-color;
  font-family: $main-font;
  font-weight: $main-font-weight;
}

img {
  vertical-align: bottom;
}

.section {
  width: 100%;
  max-width: $section-width + 2 * $section-padding;
  box-sizing: border-box;
  padding: 0 32px;
  margin: 0 auto;
  overflow-x: hidden;

  @include lg {
    padding: 0 24px;
  }

  @include sm {
    padding: 0 16px;
  }

  .has-text-centered {
    text-align: center;
  }
}

%common-button {
  width: 100%;
  background-color: $primary-button-color;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  outline: none;
  padding: 0;
  margin: 12px 0;
  font-family: $title-font;

  &.secondary {
    background-color: $secondary-button-color;
  }

  &.tertiary {
    background-color: $background-light;
    color: gray;
    border: 3px black;
  }
}

.main-button {
  @extend %common-button;
  height: 64px;
  line-height: 64px;
  font-size: 18px;
  max-width: 320px;
  border-radius: 32px;
  box-shadow: $shadow_1;

  @include sm {
    max-width: 288px;
  }

  &.small {
    height: 42px;
    line-height: 42px;
    font-size: 14px;
    border-radius: 22px;
  }
}

.form-button {
  @extend %common-button;
  height: 48px;
  line-height: 48px;
  font-size: 16px;
  max-width: 329px;
  border-radius: 24px;

  &.secondary {
    background-color: $secondary-button-color;
  }

  &:disabled {
    background: silver;
  }
}

.wave-container {
  display: flex;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  position: relative;

  .wave {
    position: relative;
    width: calc(100% + 8px);
    top: 1px;

    &.bottom {
      top: -1px;
      transform: rotate(180deg);
      vertical-align: top;
    }
  }
}

h1 {
  font-family: $title-font;
  font-weight: bold;
  font-size: 64px;
  line-height: 120%;
  margin: 10px 0 24px;

  @include lg {
    font-weight: bold;
    font-size: 32px;
  }
}

h2 {
  font-family: $title-font;
  font-weight: 500;
  font-size: 38px;
  line-height: 150%;
  margin: 16px 0px;
  color: $heading-color;

  @include lg {
    font-weight: bold;
    font-size: 24px;
  }

  @include sm {
    font-size: 20px;
  }
}

h3 {
  font-family: $title-font;
  font-weight: 600;
  font-size: 26px;
  line-height: 160%;
  margin: 16px 0px;

  @include lg {
    font-size: 20px;
  }
}

h4 {
  font-family: $title-font;
  font-weight: bold;
  font-size: 22px;
  line-height: 160%;
  margin: 24px 0 16px;
  color: $heading-color;

  @include lg {
    font-size: 19px;
  }
}

.button-group {
  display: flex;
  align-items: stretch;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 12px;

  @include md {
    button:not(:first-child), a:not(:first-child) {
      margin-left: 12px;
    }
  }

  @include sm {
    button:not(:first-child), a:not(:first-child) {
      margin-left: 0px;
    }
  }

  &.inline {
    flex-direction: row;
    flex-wrap: unset;

    button:not(:first-child), a:not(:first-child) {
      margin-left: 18px;
    }
  }

  a:not(.main-button) {
    color: $tertiary-button-color;
  }

  a.main-button.primary {
    color: white;
  }

  @include lg {
    justify-content: space-evenly;
  }
}

// Somebody please explain how to fix this
.pac-container {
  z-index: 9999;
}


alerts {
  padding: 12px 0;

  .message {
    padding: 12px;
    border: 0px solid;
    border-radius: 4px;

    &.success {
      background-color: #a4ffab;
    }

    &.warn {
      background-color: #f7f700;
    }

    &.error {
      background-color: red;
      color: white;
    }
  }
}